<li id="station-<%= station.cta_id %>" class="station">
	<div>
		<h3>
<% if @stations.count > 1 %>
			<a href="/stations/<%= station.cta_id %>"><%= station.name %></a>
<% else %>
			<%= station.name %>
<% end %>
		</h3>
		<% if use_location? %><p>(<%= number_with_precision(station.distance, :precision => 2) %> miles away)</p><% end %>
	</div>
</li>