<% if @station_id %>
<h1><a href="/">Hello Chicago.</a></h1>
<% else %>
<h1>Hello Chicago.</h1>
<% end %>

<p>
	<select onchange="window.location.href='?station='+this.value;">
		<option value="">&nbsp;</option>
	<%= options_from_collection_for_select(Station.all, :cta_id, :name, @station_id) %>
	</select>	
</p>
<% if params['zack'] %>
<p>
	Faves: 
<% if @station_id == '40380' %>
Clark/Lake
<% else %>
<a href="?station=40380">Clark/Lake</a>
<% end %> | 
<% if @station_id == '40320' %>
Division
<% else %>
<a href="?station=40320">Division</a>
<% end %>
</p>
<% end %>

<% @stations.each do |station| %>
<% if @stations.count > 1 %>
<h3><a href="?station=<%= station.cta_id %>"><%= station.name %></a></h3>
<% else %>
<h3><%= station.name %></h3>
<% end %>

<ul>
<% station.arrivals.each do |arrival| %>
	<li class="arrival <%= train_route(arrival['rt']['$']) %>">
		<div>
			<span class="train-info"><%= train_route(arrival['rt']['$']).capitalize %> Line #<%= arrival['rn']['$'] %> to</span>
			<h4><%= arrival['destNm']['$'] %></h4>
			<span class="time-til"><%= arrival_time(arrival['arrT']['$']) %></span>
		</div>
	</li>
<% end %>
</ul>
<% end %>

<% if params['debug'] %>
<hr/>
<span id="debug">Loc: <%= @loc.inspect %> // Radius: <%= @radius %></span>
<% end %>

<!--<hr/>

<p id="status">finding location...</p>

<script>
	
	function success(position) {
		console.log('success');
	  var s = document.querySelector('#status');

	  if (s.className == 'success') {
	    // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back    
	    return;
	  }

	  s.innerHTML = "found you at " + position.coords.latitude + ' - ' + position.coords.longitude;
	  s.className = 'success';

	  console.log("location: " + position.coords.latitude + ' - ' + position.coords.longitude);
	}

	function error(msg) {
		console.log('failed');
	  console.log(msg);
		console.log(arguments);
	}

	//$(function() { 
		console.log('hi');
		if (navigator.geolocation) {
			console.log('searching...')
	  	navigator.geolocation.getCurrentPosition(success, error);
		} else {
	  	error('not supported');
		}
	//});

</script>-->
