<h1>Hello Chicago.</h1>
<p>(We'll have more soon.)</p>

<p>
<% if @mapid == '40380' %>
Clark/Lake
<% else %>
<a href="?mapid=40380">Clark/Lake</a>
<% end %> | 
<% if @mapid == '40320' %>
Division
<% else %>
<a href="?mapid=40320">Division</a>
<% end %>
</p>

<ul>
<% @arrivals.each do |arrival| %>
	<li class="arrival <%= train_route(arrival['rt']['$']) %>">
		<span class="train-info"><%= train_route(arrival['rt']['$']).capitalize %> Line #<%= arrival['rn']['$'] %> to</span>
		<h3><%= arrival['destNm']['$'] %></h3>
		<span class="time-til"><%= arrival_time(arrival['arrT']['$']) %></span>
	</li>
<% end %>
</ul>
