<h1>Hello Chicago.</h1>
<p>
	<select onchange="window.location.href='?station='+this.value;">
	<%= options_from_collection_for_select(Station.all, :cta_id, :name, @station_id) %>
	</select>	
</p>
<p>
	Faves: 
<% if @station_id == '40380' %>
Clark/Lake
<% else %>
<a href="?station=40380">Clark/Lake</a>
<% end %> | 
<% if @station_id == '40320' %>
Division
<% else %>
<a href="?station=40320">Division</a>
<% end %>
</p>

<ul>
<% @arrivals.each do |arrival| %>
	<li class="arrival <%= train_route(arrival['rt']['$']) %>">
		<div>
			<span class="train-info"><%= train_route(arrival['rt']['$']).capitalize %> Line #<%= arrival['rn']['$'] %> to</span>
			<h3><%= arrival['destNm']['$'] %></h3>
			<span class="time-til"><%= arrival_time(arrival['arrT']['$']) %></span>
		</div>
	</li>
<% end %>
</ul>

<hr/>

<!--<p id="status">finding location...</p>

<script>
	
	function success(position) {
		console.log('success');
	  var s = document.querySelector('#status');

	  if (s.className == 'success') {
	    // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back    
	    return;
	  }

	  s.innerHTML = "found you at " + position.coords.latitude + ' - ' + position.coords.longitude;
	  s.className = 'success';

	  console.log("location: " + position.coords.latitude + ' - ' + position.coords.longitude);
	}

	function error(msg) {
		console.log('failed');
	  console.log(msg);
		console.log(arguments);
	}

	//$(function() { 
		console.log('hi');
		if (navigator.geolocation) {
			console.log('searching...')
	  	navigator.geolocation.getCurrentPosition(success, error);
		} else {
	  	error('not supported');
		}
	//});

</script>-->
