
<section id="helper">
	<div>
		<% if @skip >= 3 %>
		<span id="previous"><a href="/<%= (@skip > 3) ? "?skip=#{@skip-3}" : '' %>" title="Previous 3 Stations">&laquo;</a></span>
		<% end %>
		<p>Showing <%= @more ? 'the first 3 ' : '' %>stations within a <%= number_with_precision(@radius, :precision => 2) %> mile radius.</p>
		<% if @more %>
		<span id="next"><a href="/?skip=<%= @skip+3 %>" title="Next 3 Stations">&raquo;</a></span>
		<% end %>
	</div>
</section>

<div id="stations-container">
<% @stations.each do |station| %>
	<ul>
		<%= render :partial => 'shared/station', :object => station %>
		<%= render :partial => 'shared/arrival', :collection => station.arrivals %>
		<%= render :partial => 'shared/no-arrivals' if station.arrivals.count <= 0 %>
	</ul>
<% end %>
<% if @stations.count < 1 %>
	<p id="locating"><br/>Doesn't look like there are any stations nearby.<br/><br/>Try selecting one from the above dropdown menu.</p>
<% end %>
</div>

<% if @stations.present? %>
<% #render :partial => 'shared/testing' %>
<%= render :partial => 'shared/refresh' %>
<% end %>